if has nix; then
  if ! has nix_direnv_version || ! nix_direnv_version 3.1.0; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.0/direnvrc" "sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM="
  fi
  use flake
fi

PY_PROJECT="$(pwd)/python-uvicorn"
if has pixi; then
  eval "$(pixi shell-hook --manifest-path "$PY_PROJECT")"
else
  export VIRTUAL_EN="$(pwd)/.venv"
  if [[ ! -d "$VIRTUAL_EN" ]]; then
    if has uv; then
      export UV_PROJECT_ENVIRONMENT="$VIRTUAL_EN"
      export UV_PROJECT="$PY_PROJECT"
      uv venv
    else
      python -m venv "$VIRTUAL_EN"
    fi
  fi
  if [[ "$(uname)" == *"_NT"* ]]; then
    VBIN="$VIRTUAL_EN/Scripts"
  else
    VBIN="$VIRTUAL_EN/bin"
  fi
  . "$VBIN/activate"
  if has uv; then
    uv sync
  else
    pip install --upgrade pip
    pip install --upgrade "$PY_PROJECT"
  fi
fi

if has pre-commit && [[ ! -f "$(pwd)/.git/hooks/pre-commit" ]]; then
  pre-commit install
fi

export NUGET_PACKAGES=$HOME/.nuget/packages/

dotenv
