if has nix; then
  if ! has nix_direnv_version || ! nix_direnv_version 3.1.0; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.0/direnvrc" "sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM="
  fi
  use flake
  export NIX_CONFIG="extra-experimental-features = nix-command flakes"
fi

PY_PROJECT="$(git rev-parse --show-toplevel)/python-uvicorn"
mkdir -p .direnv
watch_file "$PY_PROJECT"
pyprojmd5=".direnv/pyproject.toml.md5"
curr_md5=$(md5sum "$PY_PROJECT/pyproject.toml" | cut -d' ' -f1)
prev_md5=$(cat "$pyprojmd5" 2>/dev/null || echo "")
if has pixi; then
  if [[ "$curr_md5" != "$prev_md5" ]]; then
    pixi install
  fi
  eval "$(pixi shell-hook --manifest-path "$PY_PROJECT")"
else
  VIRTUAL_EN="$PY_PROJECT/.venv"
  export VIRTUAL_EN
  if [[ ! -d "$VIRTUAL_EN" ]]; then
    if has uv; then
      export UV_PROJECT_ENVIRONMENT="$VIRTUAL_EN"
      export UV_PROJECT="$PY_PROJECT"
      uv venv
    else
      python -m venv "$VIRTUAL_EN"
    fi
  fi
  if [[ "$(uname)" == *"NT"* ]]; then
    VBIN="$VIRTUAL_EN/Scripts"
  else
    VBIN="$VIRTUAL_EN/bin"
  fi
  . "$VBIN/activate"
  if [[ "$curr_md5" != "$prev_md5" ]]; then
  if has uv; then
    uv sync
  else
    pip install --upgrade pip
    pip install --upgrade "$PY_PROJECT"
  fi
  fi
fi
echo "$curr_md5" > "$pyprojmd5"

pre_commit="$(git rev-parse --git-path hooks/pre-commit 2>/dev/null)"
if [[ ! -f "$pre_commit" ]] || ! grep -Eiq "prek|pre-commit" "$pre_commit" >/dev/null; then
  if has prek; then
    prek install
  elif has pre-commit; then
    pre-commit install
  fi
fi

export NUGET_PACKAGES="${NUGET_PACKAGES:-$(pwd)/discord-net/.nuget/packages}"
dotenv

