services:
  database:
    image: postgres:16
    restart: always
    env_file:
      - ./.env
    expose:
      - "${POSTGRES_PORT}"
    ports:
      - "5432:${POSTGRES_PORT}"
    command: -p ${POSTGRES_PORT}
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB} -p $${POSTGRES_PORT}"]
      interval: 5s
      timeout: 5s
      retries: 5

  python-uvicorn:
    container_name: python-uvicorn
    build:
      context: ./python-uvicorn
      dockerfile: Dockerfile
    env_file:
      - ./.env
    expose:
      - "${UVICORN_PORT}"
    ports:
      - "8000:${UVICORN_PORT}"
    volumes:
      - shared:/shared

  discord-bot:
    container_name: discord-bot
    build:
      context: ./discord-net
      dockerfile: Dockerfile
    env_file:
      - ./.env
    depends_on:
      database:
        condition: service_healthy
    volumes:
      - shared:/shared

volumes:
  shared:
  db_data:
