.vs/
.idea/

[Oo]bj/
[Bb]in/
[Pp]ublish/

__*.zig

*.slnx
*.sln

flake*
.gitignore

Dockerfile

Native/zig-out/
Native/.zig-cache/
Native/*_wrap.cxx
Native/*_wrap.cxx
Native/bindings/
Native/compile_commands.json
